// Variables
$website-width: 1280px;
$main-color: green;
$secondary-color: yellow;
$tertiary-color: blue;
$attention-color: red;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$bg-image: url('../img/MOPP.jpg');

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
